header {
  text-align: center;
  color: #000;
  background: #fff;
  .container {
    height: 90vh;
    margin-top: 10vh;
    @include display-flex();
    @include flex-direction(row);
    @include justify-content(center);
    @include align-items(center);
  }
  img {
    display: block;
    margin: 0 auto 20px;
  }
  .intro-text {
    .name {
      display: block;
      text-transform: uppercase;
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 2em;
      font-weight: 700;
    }
    .skills {
      font-size: 1.25em;
      font-weight: 300;
    }
  }
  .profile-image{
    height: 40vh;
    border-radius: 100%;
    @include filter(grayscale(1));

  }
}
