.navbar {
  @include display-flex();
  @include flex-direction(row);
  @include justify-content(center);
  @include align-items(center);
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;

  a:focus {
    outline: 0;
  }
  .navbar-nav {
    letter-spacing: 1px;
    li a:focus {
      outline: 0;
    }
  }
  .page-scroll{
    a{
      margin-top: 0;
      &.btn-social{
        margin-top: -3px;
      }
    }
  }

}

.navbar-default, .navbar-inverse {
  min-height: 10vh;
  border: 0;
  background: #fff;
  border-color: transparent;

  * {
    color: #000000 !important;;
  }
}

@media (max-width: 768px) {
  .navbar-fixed-top {
    .container{
      width: 100%;
    }
  }
}
