@media (min-width: 768px) {
  .navbar-fixed-top {
    @include transition(all .3s linear);
    .navbar-brand {
      font-size: 2em;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
    }
    &.navbar-shrink {
      padding: 10px 0;
      min-height: 5vh;
      .navbar-brand {
        font-size: 1.5em;
      }
    }
  }
}
