html {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

body {
  overflow-x: hidden;

}

p {
  font-size: 20px;
  &.small {
    font-size: 16px;
  }
}

a {
  outline: 0;
  color: #CE534D;
  &:hover, &:focus, &:active, &.active {
    outline: 0;
    color: #CE534D;
  }
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

hr {
  &.star-light, &.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 2px;
    text-align: center;
  }
  &.star-light:after, &.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -0.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 1.2em;

  }
  &.star-light {
    border-color: #fff;
    &:after {
      color: #fff;
      background-color: #CE534D;
    }
  }
  &.star-primary {
    border-color: #000;

    &:after {
      color: #000;
      background-color: #fff;
    }
  }
}

.img-centered {
  margin: 0 auto;
}

p,li{
  font-size: 1.15em;
  line-height: 2em;
  ul > li{
    font-size: 1em;
  }
}

.capabilities{
  p{
    margin-bottom: 0;
  }
}
