<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>Web Developer in a wide variety of global Web Sites, working as front end and back end developer for
          different worldwide clients around 5 years, as freelancer and salaried. I’ve worked developing single page
          application for mobile and desktop sites and also integrating the client side with back end technologies and
          CMS, also using RESTful web services I try to stay informed with the latest changes in front end technologies
          because they recently have increased and improved exponentially.</p>

        <p><em>Total Experience in Development: 6.5+ Years</em></p>
      </div>
    </div>
    <div class="capabilities">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h4>Front End</h4>

          <div class="col-lg-6">
            <p><strong>HTML5</strong></p>

            <p><strong>CSS/3</strong></p>
            <ul>
              <li>Responsive Design</li>
              <li>Mobile First</li>
            </ul>
            <p><strong>CSS Preprocessors</strong></p>
            <ul>
              <li>Compass</li>
              <li>Stylus</li>
              <li>Less</li>
            </ul>
            <p><strong>Automation Tools</strong></p>
            <ul>
              <li>Yeoman</li>
              <li>Grunt</li>
              <li>Gulp</li>
              <li>Bower</li>
            </ul>
          </div>
          <div class="col-lg-6">
            <p><strong>JavaScript</strong></p>
            <ul>
              <li>AngularJS</li>
              <li>Backbone</li>
              <li>ReactJS</li>
              <li>Sencha Touch</li>
              <li>Node.js</li>
              <li>sails.js</li>
            </ul>
            <p><strong>Tools</strong></p>
            <ul>
              <li>Photoshop</li>
              <li>Ilustrator</li>
              <li>Sublime Text</li>
            </ul>
            <p><strong>Templating</strong></p>
            <ul>
              <li>Underscore.js</li>
              <li>Jade</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h4>Back End</h4>

          <div class="col-lg-6">
            <p><strong>PHP & CMS</strong></p>
            <ul>
              <li>Wordpress</li>
              <li>Expression Engine</li>
              <li>Joomla</li>
            </ul>
          </div>
          <p><strong>RoR</strong></p>

          <p><strong>.NET (C#, VB)</strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h4>Databases</h4>

          <div class="col-lg-6">
            <p>MySQL</p>

            <p>SQL SERVER</p>
          </div>

          <p>MongoDB</p>
        </div>
      </div>
    </div>
  </div>
</section>
