<section id="contact" ng-controller="MainCtrl">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Contact</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<form role="form" ng-show="showForm">
					<div class="row">
						<div class="form-group col-xs-12 floating-label-form-group">
							<label for="name">Name</label>
							<input ng-model="name" class="form-control" type="text" name="name" placeholder="Name">
						</div>
					</div>
					<div class="row">
						<div class="form-group col-xs-12 floating-label-form-group">
							<label for="email">Email Address</label>
							<input ng-model="email" class="form-control" type="email" name="email" placeholder="Email Address">
						</div>
					</div>
					<div class="row">
						<div class="form-group col-xs-12 floating-label-form-group">
							<label for="message">Message</label>
							<textarea ng-model="message" placeholder="Message" class="form-control" rows="5"></textarea>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="form-group col-xs-12">
							<button ng-class="{'disabled':!showButton}" type="submit" ng-hide="" ng-click="sendEmail()" class="btn btn-lg btn-success">Send</button>
						</div>
					</div>
				</form>
				<p ng-show="!showForm" class="text-center">
					Thanks for submit your message. <br> I'll ping you ASAP. <br>Cheers :)
				</p>

			</div>
		</div>
	</div>
</section>
