<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Location</h3>
          <p>Costa Rica</p>
         </div>
         <div class="footer-col col-md-4">
          <h3>Around the Web</h3>
          <ul class="list-inline">
            <li><a href="https://cr.linkedin.com/in/jmonterroso/en" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
            </li>
            <li><a target="_blank" href="https://github.com/jmonterroso" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
            </li>
            <li><a target="_blank" href="https://bitbucket.org/jayson_monterroso" class="btn-social btn-outline"><i class="fa fa-fw fa-bitbucket"></i></a>
            </li>
            <li><a href="http://stackoverflow.com/users/1064378/jaym" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-stack-overflow"></i></a>
            </li>
            <li><a href="https://twitter.com/jayMonterroso" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
            </li>


          </ul>
        </div>
        <div class="footer-col col-md-4">
          <h3>&nbsp;</h3>
          <p><i>if you think you can do a thing or think you can't do anything you're right</i></p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; 2015 - Jayson Monterroso
        </div>
      </div>
    </div>
  </div>
</footer>
