<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive profile-image" src="images/profile.jpg" alt="">
        <div class="intro-text">
          <span class="name">Jayson Monterroso</span>
          <hr class="star-primary">
          <span class="skills">Senior Front End Developer - Back End Developer - UX - Mobile Developer</span>
        </div>
      </div>
    </div>
  </div>
</header>
