<ng-include src="'views/navigation.html'"></ng-include>

<ng-include src="'views/header.html'" scope="" onload=""></ng-include>
<!--<ng-include src="'views/portfolio.html'" scope="" onload=""></ng-include>-->

<ng-include src="'views/about.html'" scope="" onload=""></ng-include>
<ng-include src="'views/contact.html'" scope="" onload=""></ng-include>
<ng-include src="'views/footer.html'" scope="" onload=""></ng-include>
<!--<ng-include src="'views/portfolio-modals.html'" scope="" onload=""></ng-include>-->





<!--<div class="scroll-top page-scroll visible-xs visble-sm">-->
  <!--<a class="btn btn-primary" href="#page-top">-->
    <!--<i class="fa fa-chevron-up"></i>-->
  <!--</a>-->
<!--</div>-->


