<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" ng-controller="MainCtrl">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#page-top">jM</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top" ng-click="tracking('nav bar','home','click')"></a>
        </li>
        <!--<li class="page-scroll">-->
          <!--<a href="#portfolio" ng-click="tracking('nav bar','portfolio','click');">Portfolio</a>-->
        <!--</li>-->
        <li class="page-scroll">
          <a href="#about" ng-click="tracking('nav bar','about','click');">About</a>
        </li>
        <li class="page-scroll">
          <a href="#contact" ng-click="tracking('nav bar','contact','scroll')">Contact</a>
        </li>
        <li class="page-scroll"><a href="https://cr.linkedin.com/in/jmonterroso/en" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
        </li>
        <li class="page-scroll"><a target="_blank" href="https://github.com/jmonterroso" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
        </li>
        <li class="page-scroll"><a target="_blank" href="https://bitbucket.org/jayson_monterroso" class="btn-social btn-outline"><i class="fa fa-fw fa-bitbucket"></i></a>
        </li>
        <li class="page-scroll"><a href="http://stackoverflow.com/users/1064378/jaym" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-stack-overflow"></i></a>
        </li>
        <li class="page-scroll"><a href="https://twitter.com/jayMonterroso" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
        </li>
      </ul>

    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
