<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>Smartusa.com</h2>
						<hr class="star-primary">
						<img src="images/portfolio/smartusa.com.jpg" class="img-responsive img-centered" alt="">
						<p>UI development in support of various web and social applications. Technologies used include HTML(5), CSS/3, JavaScript (jQuery, OOP, in the loop to migrate to Angular), integration with .NET technologies, Scrum planning and sprint reviews. Agile environment.</p>
						<ul class="list-inline item-details">
							<li>Client: <strong><a ng-click="tracking('client','click','razorfish');" href="http://razorfish.com" target="_blank">razorfish</a></strong>
							</li>
							<li>Date: <strong>May 2013</strong>
							</li>
							<li>Service: <strong>Front End Development</strong>
							</li>
						</ul>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>Gente real sonrisas reales Web App</h2>
						<hr class="star-primary">
						<img src="images/portfolio/aquafresh.jpg" class="img-responsive img-centered" alt="">
						<p>Freelance front/back end development and UX, Webapp consuming RESTful services, using <a target="_blank" href="http://angularjs.org">Angularjs</a> framework in the front end and <a href="http://rubyonrails.org/‎" target="_blank">RoR</a> in the backend for Toi Agency, functionalities in the WebApp, Facebook Integration, Upload photos and videos, and User Authentication </p>
						<ul class="list-inline item-details">
							<li>Client: <strong><a ng-click="tracking('client','click','Publimark');" href="http://www.publimark.cr/" target="_blank">Publimark</a></strong>
							</li>
							<li>Date: <strong>May 2014</strong>
							</li>
							<li>Service: <strong>Web Development / UX</strong>
							</li>
						</ul>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>CFIA  Mobile App (android/iphone)</h2>
						<hr class="star-primary">
						<img src="images/portfolio/cfia.png" class="img-responsive img-centered" alt="">
						<p>Creating the Hybrid Native App for Colegio de Ingenieros y de Arquitectos de Costa Rica, this app helps the user to get information about the current status of the Construction paperwork, consuming a SOAP web service provided by the CFIA, using techonologies the front end tehcnologies, AngularJS, HTML/5 CSS/3 and Phonegap/Cordova.  </p>
						<ul class="list-inline item-details">
							<li>Client: <strong><a ng-click="tracking('client','click','Qanta');" target="_blank" href="http://qantamedia.com">Qanta Media</a></strong>
							</li>
							<li>Date: <strong>June, 2013</strong>
							</li>
							<li>Service: <strong>Hybrid Web Development</strong>
							</li>
						</ul>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>Cisco UseCase Analysis App (android/iphone)</h2>
						<hr class="star-primary">
						<img src="images/portfolio/cisco-2.png" class="img-responsive img-centered" alt="">
						<p>App developed with Sencha Touch 2.1 for Native iOs &amp; Android devices.</p>
						<ul class="list-inline item-details">
							<li>Client: <strong><a ng-click="tracking('client','click','Logn');" href="http://www.logn.co/">Log(n)</a></strong>
							</li>
							<li>Date: <strong>Noviembre 2012</strong>
							</li>
							<li>Service: <strong><a href="http://startbootstrap.com">Front End Development / Hybrid Mobile App</a></strong>
							</li>
						</ul>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>Movimiento Rosa Website</h2>
						<hr class="star-primary">
						<img src="images/portfolio/movimiento-rosa.png" class="img-responsive img-centered" alt="">
						<p>Website for Movimiento Rosa sponsored by <a href="https://www.automercado.cr/" target="_blank">Automercado</a> where the users have to upload 4 pictures to create their own personal video and share their stories of success against cancer, Website developed using bootstrap, jQuery and Facebook API integration. </p>
						<ul class="list-inline item-details">
							<li>Client: <strong><a ng-click="tracking('client','click','Qanta');" href="https://qantamedia.com/" target="_blank">Qantä Media</a></strong>
							</li>
							<li>Date: <strong>October 2013</strong>
							</li>
							<li>Service: <strong>Front End Development</strong>
							</li>
						</ul>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>Chiky Gool - Webapp (responsive)</h2>
						<hr class="star-primary">
						<img src="images/portfolio/chiky-gol-mobile.png" class="img-responsive img-centered" alt="">
						<p>Web App developed using <a target="_blank" href="http://angularjs.org">Angularjs</a>, Yeoman, Grunt, consuming restFul web Services using Ruby on Rails as Back End, social integration, user authentication(via fb and registration).</p>
						<ul class="list-inline item-details">
							<li>Client: <strong><a ng-click="tracking('client','click','Publimark');" href="http://www.publimark.cr/" target="_blank">Publimark</a></strong>
							</li>
							<li>Date: <strong>May 2014</strong>
							</li>
							<li>Service: <strong>Front End Development</strong>
							</li>
						</ul>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>