
<section id="portfolio" ng-controller="MainCtrl">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Portfolio</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal1" class="portfolio-link" ng-click="tracking('portfolio','click','smartusa')" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="images/portfolio/smartusa.com.jpg" class="img-responsive" alt="" />
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal2" class="portfolio-link" ng-click="tracking('portfolio','click','aquafresh')" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="images/portfolio/aquafresh.jpg" class="img-responsive" alt="" />
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal3" class="portfolio-link" ng-click="tracking('portfolio','click','cfia')" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="images/portfolio/cfia.png" class="img-responsive" alt="" />
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal4" class="portfolio-link" ng-click="tracking('portfolio','click','cisco')" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="images/portfolio/cisco-1.png" class="img-responsive" alt="" />
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal5" class="portfolio-link" ng-click="tracking('portfolio','click','movimientorosa')" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="images/portfolio/movimiento-rosa.png" class="img-responsive" alt="" />
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal6" class="portfolio-link" ng-click="tracking('portfolio','click','chikygol')" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="images/portfolio/chiky-gol.png" class="img-responsive" alt="" />
        </a>
      </div>
    </div>
  </div>
</section>